section.user-guide
  .user-guide__title Welcome
  .user-guide__subtitle to Curriculum Designers Portal.
  span.user-guide__close
  .slider-container
    .slider-turn
      p Let me take you for a quick tour.
      p In order to input a question <strong>start</strong> by choosing atemplate by clicking on <em>'Choose Template'</em> button. (Screen to gif 'choose your template button').
      p Input numbers into spaces provided. Allocate as many digits in one box as needed.
      p Check if rendered output matches expected outcome.
      p Site is best to be viewed on Chrome with on desktop or device which has width greater than 768px.
      p If you encounter any issues ensure that you use on of supported browsers: IE 10+, Edge, Firefox 46+, Chrome 45+, Safari 9.1+, Opera 38+.

  .bottom
    .step
      span
      ul
        li(data-num='1')
        li(data-num='2')
        li(data-num='3')
        li(data-num='4')
        li(data-num='5')
        li(data-num='6')
    button.user-guide__next Next

button.user-guide__open Open
